<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{% if page.title %}{{ page.title }} // kb{% else %}kb // {{ site.github.project_tagline }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% unless page.path == "404.md" %}
    {% capture site_name %}{{ site.site_name | default: site.github.project_title }}{% endcapture %}
    {% capture canonical_url %}{{ page.url | split: ".html" | first | absolute_url }}{% endcapture %}
    {% capture description %}{% if page.title %}{{ page.title }} code{% else %}Code{% endif %} snippets and technical tricks curated by James Martindale.{% endcapture %}
    {% capture title %}{% if page.title %}{{ page.title | append: " // " }}{% endif %}{{ site_name }}{% endcapture %}
    <meta property="description" content="{{ description }}">
    <meta property="fb:app_id" content="{{ site.facebook.app_id }}">
    <meta property="og:author" content="{{ site.github.owner.name | default: site.github.owner.login }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ site.github.owner_gravatar_url }}">
    <meta property="og:locale" content="{{ site.lang | replace:'-','_' }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="{{ page.twitter.card | default: site.twitter.card | default: "summary_large_image" }}">
    <meta name="twitter:image" content="{{ site.github.owner_gravatar_url }}">
    <meta name="twitter:site" content="@{{ site.twitter.username | replace:"@","" }}">
    <meta name="twitter:title" content="{{ title }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {% endunless %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a> / {% if page.path == "404.md" %}404{% else %}{{ page.title }}{% endif %}</h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        {% github_edit_link "Edit this page" %} //
        Maintained by <a href="{{ site.github.owner.blog | default: {{ site.github.owner_url }} }}" target="_blank">
          {{ site.github.owner.name | default: site.github.owner_name }}
        </a>
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
